
body {
  background-color: #333333 !important; 
  color:white !important;
  padding-top: 50px;  
}

div.starter-template {
  padding: 2px !important;
}

h1 {
  margin: 3px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cinzel', serif !important;
}

td {
  text-align: left;
  min-width: 160px;
}

p.no_birthday {
  opacity: 0;
}

.center-block {
  float: none !important
}

.dropdown-menu {
  color:black !important;
}


.clicked {
  fill: rgb(128, 200, 128) !important;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.results {
  opacity: 0;
}

.btn {
  background-color: gold;
  font-weight: bold;
}

.date {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
